#UploadForm {
    display:block;
    width: 60vw;
}
#UploadForm input {
    display:block;
    width: 100%;
}
#UploadForm textarea {
    width:100%;
    height:12rem;
}

#UploadForm #fileArea {
    display: flex;
    height: 12rem;
    background-color: gray;
    flex-direction: row;
}
#UploadForm #fileArea .fileFrame {
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
#UploadForm #fileArea .fileFrame img {
    height: 10rem;
    width: fit-content;
}
#UploadForm #fileArea .fileFrame input {
    height: 2rem;
}